<!doctype html>
<html>
<head>
  <title>Library Demo</title>
</head>
<body>

  <ul id="allDocumentsView">
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascript/demo.js"></script>
  
</body>
